



<ion-view view-title="Login" id="login-view" ng-controller="LoginCtrl as ctrl">
  <ion-nav-bar class="bar-stable bar-royal">
  </ion-nav-bar>


  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Usuario" ng-model="ctrl.logindata.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="ctrl.logindata.password">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="ctrl.login()">Entrar</button>
  </ion-content>

  <ion-footer-bar class="bar-footer bar-light">Ángel David Puerto Rico</ion-footer-bar>
</ion-view>

