

<!--
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Tab de libros -->
  <ion-tab title="Libros" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/app/tab/libros">
    <ion-nav-view name="tab-libros"></ion-nav-view>
  </ion-tab>


  <!-- Tab de pedidos -->
  <ion-tab title="Pedido({{ctrl.getNumItems()}})" icon-off="icon ion-ios-cart-outline" disabled="ctrl.getNumItems()<=0" icon-on="icon ion-ios-cart"" href="#/app/tab/pedidos">
    <ion-nav-view name="tab-pedidos"></ion-nav-view>
  </ion-tab>

</ion-tabs>
